
@page
@model IndexModel
@using REDRFID.Services
@using REDRFID.Pages.Red.MapWork
@using System.Text
@inject INonceCatalogService NonceCatalogService
@{
    ViewData["Title"] = "Home";
    bool debug = false;
    var serviceProvider = this.HttpContext.RequestServices;

    var modelB = new REDRFID.Pages.Red.MapWork.MapWidgetModel(serviceProvider.GetRequiredService<ILogger<MapWidgetModel>>(), serviceProvider.GetRequiredService<INonceCatalogService>());

    var sb = new StringBuilder();
    sb.Append(NonceCatalogService.GetANonce("CSPNonce"));
    var nonceOut = sb.ToString();

}
<!-- Nonce Check: @Model.Nonce -->
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

        @if (User.Identity?.IsAuthenticated == false)
    {
        <p>Please login to manage your RFID Exploit Database entries.</p>
    }



        @if (debug)
        {
            @if (@User.Identity is not null && @User.Identity.IsAuthenticated)
            {
            <p>You are signed in! Below are the claims in your ID token. For more information, visit: <a href="https://learn.microsoft.com/azure/active-directory/develop/id-tokens">Microsoft identity platform ID tokens</a></p>

            <table>
                <tbody>
                    @foreach (var item in @User.Claims)
                    {
                        <tr>
                            <td>@item.Type</td>
                            <td>@item.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
            }
          }

</div>
<div class="text-center">
    <h2>RED Heatmap</h2>
</div>

<div class="iframe-container">
@await Html.PartialAsync("Red/MapWork/MapWidget", modelB)
</div>
<div class="text-center">
<p>This ARCGIS map details locations of submissions to RED.</p>
</div>

<div>
    <!-- Nonce Check:  @nonceOut -->

<div>
    <h2>RED Risk Registry</h2>
    <p>Curious about what you could do about RFID vulnerabilities in your systems? Consider our risk registry as a template for exploring RFID risk assessments in your organization.</p>
    
    <button id="downloadExcelBtn" class="btn btn-primary" nonce="@nonceOut">
        Download File
    </button>
</div>

<script nonce="@nonceOut">
    document.getElementById('downloadExcelBtn').addEventListener('click', function() {
        location.href = '@Url.Page("Index", "DownloadExcel")';
    });
</script>